
# log into planning center developers and generate these values
pco_app_id = ''
pco_key = ''

# if using gmail to send email, go to "google->account->security->signing into google->app passwords" and generate this value
sender_email = ''
app_pw = ''
receiver_email = ""
receiver_name = ""
